body { 
	background-image: url(../img/profile.png);
	background-repeat:no-repeat;
	background-image-width: 100%;
	overflow: auto;
	background-size: cover;

}

.kj-header{
	font-size: 5em;
	color: white;
	background-color: rgba(0,0,0,0.7); 
	display: inline;
	margin-bottom: 5px;
}

#two{
	border: 0;
}